<div class="container">
	<div class="row">
		<div class="col">
			<h3>投稿一覧</h3>

			<table>
				<tbody>
					<% @posts.each do |post| %>
					<td>
						<div class="topbox">
							<%= link_to post_path(post) do %>
							<%= image_tag post.image[0].to_s, size:"250x250" %>
							<% end %>
						</div>
							<%= post.title %>
					</td>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>